html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
.container {
  width: 100%;
  // min-height: 100vh;
  font-family: $Font;
  text-align: center;
  @include flexbox-center;
  flex-direction: column;
  background-color: $Gray1;
  padding: 30px 0;
  h1 {
    display: none;
    font-size: 2.5rem;
    color: $Gray1;
    margin-bottom: 0.8rem;
    letter-spacing: 0.15rem;
  }
}
